.mega-menu-body {
    background-color: var(--mega-menu-body-bg, white);
}

.mega-menu-body__item {
    background-color: var(--mega-menu-body-item-bg, white);
    padding-inline: var(--mega-menu-body-item-px, 1rem);
    padding-block: var(--mega-menu-body-item-py, 4rem);
    display: var(--mega-menu-body-item-display, flex);
    gap: var(--mega-menu-body-item-gap, 2rem);
    max-width: var(--mega-menu-body-item-width, 1200px);
    width: 100%;
    margin-inline: auto;
    position: relative;
}

.mega-menu-body__item::backdrop {
    display: none;
}

.mega-menu-body__heading > :where(h2,h3,h4) {
    font-weight: var(--mega-menu-body-heading-wght, bolder);
    font-size: var(--mega-menu-body-heading-size, 3rem);
    white-space: var(--mega-menu-body-heading-wrapping, nowrap);
}

.mega-menu-body__item > ul {
    column-count: var(--mega-menu-body-item-list-columns, 4);
    column-gap: var(--mega-menu-body-item-list-gap, 2rem);
    width: 100%;
}

.mega-menu-body__item:not([open]) {
    display: none;
}

.mega-menu-body__item :where(a[href], button, textarea, input, select):focus-visible {
    outline: 2px solid var(--mega-menu-body-item-elem-focus-color, lime);
}


.mega-menu-body__close {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

.mega-menu__item:where(.unpublished) {
    outline: 1px dashed var(--nav-item-unpublished-tint, #fcd34d);
    outline-offset: -1px;
    background-color: var(--nav-item-unpublished-bg, transparent);
}

