{#
/**
 * @file
 * Template for a Nav component.
 *
 * Available config:
 * - alignment: left | right | center | vertical.
 * - style: tabs | pills
 * - fill: fill | justify
 * - utility_classes: An array of utility classes.
 */
#}
{% import _self as menus %}

{% set nav_classes = [ 'menu' ]|merge(utility_classes ? utility_classes : []) %}

{% if items %}
  <ul class="mega-menu__sub-menu" aria-label="{{ id }}" id="{{ 'sub-menu-' ~ id }}">
    {% block items %}
      {% for item in items %}
        {% set link_attributes = create_attribute() %}
        {% set nav_item_classes = [
            'mega-menu__item',
            'mega-menu__item--level-' ~ (menu_level + 1),
            item.in_active_trail ? 'mega-menu__item--active-trail',
            item.below ? 'mega-menu__item--has-children',
            item.published == false ? 'unpublished'
        ] %}
        {% set nav_link_classes = ['mega-menu__link'] %}
        {% set aria_id = (item.title ~ '-mm-' ~ loop.index )|clean_id %}
        {% if item.url.options.attributes.class is iterable %}
          {% set nav_link_classes = nav_link_classes|merge(item.url.options.attributes.class) %}
        {% elseif item.url.options.attributes.class %}
          {% set nav_link_classes = nav_link_classes|merge([item.url.options.attributes.class]) %}
        {% endif %}
        {% if item.current %}
          {% set link_attributes = link_attributes.setAttribute('aria-current', 'page') %}
        {% endif %}
        <li{{ item.attributes.addClass(nav_item_classes) }}>
          {% if item.is_expanded and item.below %}

            <a href="{{item.url}}" {{ link_attributes.addClass(nav_link_classes|join(' ')) }}>
              {% if item.extra.translation and translation_language %}
                <span class="menu__translation" translate="no" lang="{{ translation_language }}">{{ item.extra.translation }}</span>
              {% endif %}
              {{ item.title }}
            </a>

            {% if item.below %}
              {{ include("sector_megamenu:subnav", {
                id: 'megamenu_subnav__' ~ aria_id,
                utility_classes: [ 'mega-menu__menu', 'hidden' ],
                items: item.below,
                menu_level: menu_level + 1,
                sub_parent_item: link(item.title, item.url, { 'class': ['mega-menu__link']}),
                translation_language: translation_language
              })}}
            {% endif %}
          {% else %}
            <a href="{{item.url}}" {{ link_attributes.addClass(nav_link_classes|join(' ')) }}>
              {% if item.extra.translation and translation_language %}
                <span class="menu__translation" translate="no" lang="{{ translation_language }}">{{ item.extra.translation }}</span>
              {% endif %}
              {{ item.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    {% endblock %}
  </ul>
{% endif %}
