.mega-menu__list .material-symbols-sharp {
    pointer-events: none;
}

.mega-menu__item--level-2 [aria-current] {
    text-decoration: underline;
    text-decoration-color: var(--mega-menu-body-item-elem-focus-color, cadetblue);
}

.mega-menu__item:where(.unpublished) {
    outline: 1px dashed var(--nav-item-unpublished-tint, #fcd34d);
    outline-offset: -1px;
    background-color: var(--nav-item-unpublished-bg, transparent);
}
